@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@400;700;900&family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@400;700;900&family=Noto+Sans:wght@400;700&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600;700&family=Jua&family=Noto+Sans+KR:wght@400;700;900&family=Noto+Sans:wght@400;700&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Jua', sans-serif; */
/* font-family: 'Rubik Mono One', sans-serif; */
/* font-family: 'JetBrains Mono', monospace; */
/* font-family: 'Black Han Sans', sans-serif; */

.row {
    max-width: 1200px;
    margin: 0 auto;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 헤더 */
html {
    width: 100%;
}
#wrap {
    background: rgba(0,0,0,0.8);
}
body {
    background: url(../img/bg3.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
}
#header {
    color: #fff;
    position: relative;

/* 네비게이션 */
}
.nav {
    background: #1C2A33;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0px 7px 9px #003468;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    z-index: 9999;
}
.nav > .depth1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav > .depth1 > li {
    display: inline-block;
    padding: 0 30px;
    position: relative;    
}
.nav > .depth1 > li > a {
    display: inline-block;
    transform: scale(1);
    text-shadow: 0px 0px 0px #fff;
    transition: text-shadow 0.1s;
}
.nav > .depth1 > li::before {
    content:'';
    position: absolute;
    right: 0;
    top: 3px;
    bottom: 3px;
    width: 1px;
    height: 20px;
    background: #fff;
}
/* 질문 : 선을 양쪽에 다 만드려면 */
.nav > .depth1 > li:nth-child(4)::before { 
    display: none;
}
.nav > .depth1 > li:hover a {
    transform: scale(1.1);
    text-shadow: 0px 0px 10px #000;
}

/* 헤더 타이틀 */
#header .title {
    font-family: 'Jua', sans-serif;
    font-size: 100px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px #000;
    color: #ffd400;
    padding: 130px 0 50px;
}
#header .title h2:nth-child(1) {
    animation: bounce 2s infinite both;
}
#header .title h2:nth-child(2) {
    font-size: 70px;
    color: #fff;
    font-family: 'Rubik Mono One', sans-serif;
    animation: pulse 1s infinite both;
}
/* 헤더 럭키박스 */
#header .luckybox {
    margin-bottom: 100px;
}
#header .luckybox li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 130px;
    line-height: 180px;
}
#header .luckybox li a {
    display: inline-block;
    background:rgba(255,255,255,0.3);
    width: 200px;
    height: 200px;
    color: orange;
    border-radius: 25%;
    border: 5px solid #fff;
    transition: all 0.2;
}
#header .luckybox li:hover a {
    transform: scale(1.1)
}
/* 모달창 */
#modal {
    text-align: center;
}
#modal1, #modal2, #modal3, #modal4 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    z-index: 999;
}
#modal .depth1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    background: url(../img/bg1.jpg) no-repeat center;
    background-size: cover;
    border: 3px solid #fff;
}
#modal .depth1 > i {
    font-size: 180px;
    padding-top: 80px;
    text-shadow: 1px 1px 5px #000;
}
#modal .depth1 p {
    font-size: 32px;
    padding-top: 70px;
    font-weight: bold;
    line-height: 1.7;
    text-shadow: 1px 1px 5px #000;
}
#modal .depth1 a {
    display: inline-block;
    margin-top: 70px;
    padding: 5px 12px;
    font-size: 24px;
    color: #000;
    background: #ffd400;
    font-weight: 900;
    font-family: 'JetBrains Mono', monospace;
}
#modal1, #modal2, #modal3, #modal4 {
    display: none;
}
#modal1:target, #modal2:target, #modal3:target, #modal4:target {
    display: block;
}

/* 섹션 아티클1 어바웃미 */
.article1 {
    color: #fff;
    background-color: #000;
    height: 452px;
}
.article1 .depth1 {
    padding: 50px;
    position: relative;
}
.article1 .depth3 {
    position: absolute;
    top: 0;
    left: 40%;
    text-align: center;    
    animation: name1 1s both 1s;
}
.article1 .depth3 > p {
    color: #fff;
    font-size: 35px;
    font-family: 'Jua', sans-serif;
}
.article1 .depth3 > p:nth-child(1) {
    color: #fff;
    font-size: 35px;
    font-family: 'Jua', sans-serif;
    animation: name2 2s both 2s;
}
.article1 .depth3 > p:nth-child(2) {
    color: #00ffff;    
    animation: name2 2s both 3s;
}
.article1 .depth3 > h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 100;
    font-family: 'Black Han Sans', sans-serif;
}
.article1 .depth3 > h2 > span {
    color: #00ffff;
    font-size: 100px;
    font-weight: 100;
}
.article1 .light {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 3px #fff;
    position: absolute;
    top: 70%;
    left: 40%;
    animation: name3 1s both infinite 5s;
}
@keyframes name1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(55%); }
}
@keyframes name2 {
    0% { opacity: 0; }
    100% { opacity: 100; }
}
@keyframes name3 {
    0% { opacity: 0; transform: translate(0); }
    50% { opacity: 100%; transform: translate(600px); }
    100% { opacity: 0; transform: translate(0); }
}

/* 섹션 아티클2 스킬 */
.article2{
    padding-bottom: 70px;
}
.article2 .power {
    position: relative;
}
.article2 .on {
    text-align: center;
}
.article2 .on > a {
    text-shadow: 0px 0px 15px rgba(255,255,255,0.7);
}
.article2 .on > a:hover > i {
    transform: scale(1.1);
}
.article2 i {
    color: #fff200;
    margin-top: 70px;
    font-size: 80px;
}
.article2 .arrowleft,
.article2 .arrowright {
    width: 520px;
}
.article2 .arrowleft > i:nth-child(1) {
    position: absolute;
    top: 15px;
    font-size: 50px;
    animation: move1 2s both infinite 0s;
}
.article2 .arrowleft > i:nth-child(2) {
    position: absolute;
    top: 15px;
    font-size: 50px;
    animation: move1 2s both infinite 1s;
}
.article2 .arrowleft > i:nth-child(3) {
    position: absolute;
    top: 15px;
    font-size: 50px;
    animation: move1 2s both infinite 2s;
}
/* 질문 : 화면크기에 따라서 정확하지 않게 구현됌 */
@keyframes move1 {
    from { left: 1010px; transform: scale(1); opacity: 100%; }
    to { left: 1110px; transform: scale(1.2); opacity: 0; }
}
.article2 .arrowright > i:nth-child(1) {
    position: absolute;
    top: 15px;
    font-size: 50px;
    animation: move2 2s both infinite 0s;
}
.article2 .arrowright > i:nth-child(2) {
    position: absolute;
    top: 15px;
    font-size: 50px;
    animation: move2 2s both infinite 1s;
}
.article2 .arrowright > i:nth-child(3) {
    position: absolute;
    top: 15px;
    font-size: 50px;
    animation: move2 2s both infinite 2s;
}
@keyframes move2 {
    from { right: 1010px; transform: scale(1); opacity: 30%; }
    to { right: 1110px; transform: scale(1.2); opacity: 0; }
}
.article2 .skills {
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: 70px;
}
.article2 .skills li {
    position: relative;
    width: 200px;
    height: 280px;
}

/* 스킬 개별 영역 시작 */
.article2 .skills p:nth-child(2) {
    opacity: 0;
}
.article2 .skills .HTML .depth3 > p:nth-child(1) {
    color: orange;
    font-size:40px;
}
.article2 .skills .HTML .depth3 > p:nth-child(2) {
    color: orange;
    animation: animate__bounceIn 1s both 0s;
    animation: HTML2 2s both 0s;
}
@keyframes HTML2 {
    to { opacity: 100%; }
}
.article2 .skills .HTML > .depth1 {
    background-color: orange;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: HTML 2s both 0s;
}
@keyframes HTML {
    to { height: 30% }
}
.article2 .skills .HTML > .depth2 {
    background-color: orange;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
.article2 .skills .CSS .depth3 > p:nth-child(1) {
    color: blue;
    font-size:40px;
}
.article2 .skills .CSS .depth3 > p:nth-child(2) {
    color: blue;
    animation: animate__bounceIn 1s both 0s;
    animation: CSS2 2s both 0.5s;
}
@keyframes CSS2 {
    to { opacity: 100%; }
}
.article2 .skills .CSS > .depth1 {
    background-color: blue;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: CSS 2s both 0.5s;
}
@keyframes CSS {
    to { height: 30% }
}
.article2 .skills .CSS > .depth2 {
    background-color: blue;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
.article2 .skills .Java .depth3 > p:nth-child(1) {
    color: magenta;
    font-size:40px;
}
.article2 .skills .Java .depth3 > p:nth-child(2) {
    color: magenta;
    animation: animate__bounceIn 1s both 0s;
    animation: Java2 2s both 1s;
}
@keyframes Java2 {
    to { opacity: 100%; }
}
.article2 .skills .Java > .depth1 {
    background-color: magenta;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: Java 2s both 1s;
}
@keyframes Java {
    to { height: 30% }
}
.article2 .skills .Java > .depth2 {
    background-color: magenta;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
.article2 .skills .Jquery .depth3 > p:nth-child(1) {
    color: purple;
    font-size:40px;
}
.article2 .skills .Jquery .depth3 > p:nth-child(2) {
    color: purple;
    animation: animate__bounceIn 1s both 0s;
    animation: Jquery2 2s both 1.5s;
}
@keyframes Jquery2 {
    to { opacity: 100%; }
}
.article2 .skills .Jquery > .depth1 {
    background-color: purple;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: Jquery 2s both 1.5s;
}
@keyframes Jquery {
    to { height: 30% }
}
.article2 .skills .Jquery > .depth2 {
    background-color: purple;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
.article2 .skills .React .depth3 > p:nth-child(1) {
    color: violet;
    font-size:40px;
}
.article2 .skills .React .depth3 > p:nth-child(2) {
    color: violet;
    animation: animate__bounceIn 1s both 0s;
    animation: React2 2s both 2s;
}
@keyframes React2 {
    to { opacity: 100%; }
}
.article2 .skills .React > .depth1 {
    background-color: violet;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: React 2s both 2s;
}
@keyframes React {
    to { height: 30% }
}
.article2 .skills .React > .depth2 {
    background-color: violet;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
.article2 .skills .ai .depth3 > p:nth-child(1) {
    color: #ef7726;
    font-size:40px;
}
.article2 .skills .ai .depth3 > p:nth-child(2) {
    color: #ef7726;
    animation: animate__bounceIn 1s both 0s;
    animation: ai2 2s both 2.5s;
}
@keyframes ai2 {
    to { opacity: 100%; }
}
.article2 .skills .ai > .depth1 {
    background-color: #ef7726;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: ai 2s both 2.5s;
}
@keyframes ai {
    to { height: 80% }
}
.article2 .skills .ai > .depth2 {
    background-color: #ef7726;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
.article2 .skills .ps .depth3 > p:nth-child(1) {
    color: #3dbfee;
    font-size:40px;
}
.article2 .skills .ps .depth3 > p:nth-child(2) {
    color: #3dbfee;
    animation: animate__bounceIn 1s both 0s;
    animation: ps2 2s both 3s;
}
@keyframes ps2 {
    to { opacity: 100%; }
}
.article2 .skills .ps > .depth1 {
    background-color: #3dbfee;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: ps 2s both 3s;
}
@keyframes ps {
    to { height: 90% }
}
.article2 .skills .ps > .depth2 {
    background-color: #3dbfee;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
.article2 .skills .in .depth3 > p:nth-child(1) {
    color: #e9458e;
    font-size:40px;
}
.article2 .skills .in .depth3 > p:nth-child(2) {
    color: #e9458e;
    animation: animate__bounceIn 1s both 0s;
    animation: in2 2s both 3.5s;
}
@keyframes in2 {
    to { opacity: 100%; }
}
.article2 .skills .in > .depth1 {
    background-color: #e9458e;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: in 2s both 3.5s;
}
@keyframes in {
    to { height: 70% }
}
.article2 .skills .in > .depth2 {
    background-color: #e9458e;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
.article2 .skills .pr .depth3 > p:nth-child(1) {
    color: #b478b2;
    font-size:40px;
}
.article2 .skills .pr .depth3 > p:nth-child(2) {
    color: #b478b2;
    animation: animate__bounceIn 1s both 0s;
    animation: pr2 2s both 4s;
}
@keyframes pr2 {
    to { opacity: 100%; }
}
.article2 .skills .pr > .depth1 {
    background-color: #b478b2;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: pr 2s both 4s;
}
@keyframes pr {
    to { height: 50% }
}
.article2 .skills .pr > .depth2 {
    background-color: #b478b2;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}

.article2 .skills .ae .depth3 > p:nth-child(1) {
    color: #ad8dc1;
    font-size:40px;
}
.article2 .skills .ae .depth3 > p:nth-child(2) {
    color: #ad8dc1;
    animation: animate__bounceIn 1s both 0s;
    animation: ae2 2s both 4.5s;
}
@keyframes ae2 {
    to { opacity: 100%; }
}
.article2 .skills .ae > .depth1 {
    background-color: #ad8dc1;
    width: 200px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    animation: ae 2s both 4.5s;
}
@keyframes ae {
    to { height: 50% }
}
.article2 .skills .ae > .depth2 {
    background-color: #ad8dc1;
    width: 200px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
/* 스킬 개별 영역 끝*/
.article2 .skills .depth2 {
    box-shadow: 0px 0px 20px #fff, 0px 0px 10px #fff;
}
.article2 .skills .depth3 {
    background-color: #fff;
    width: 160px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.article2 .skills .depth3 > p:nth-child(1) {
    padding-top: 65px;
}
.article2 .skills .depth3 > p:nth-child(2) {
    color: #000;
    font-size:50px;
    font-weight: bold;
}
.article2 .skills ul li {
    float: left;
    width: 20%;
    margin-bottom: 40px;
}

/* 파워버튼 작동 */
.on > a:hover .depth1 {  }

/* 섹션 아티클3 포트폴리오 */
